.orders {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.orders_icon {
    margin-top: 100px;
    width: 30px;
    text-decoration: none;
    color: black;

    &:hover {
        color: rgb(255, 196, 0);
    }
}