.product_detail {
    width: 400px;
    height: calc(85vh);
    background: white;
    border: 1px solid #c1c1c1;
    box-shadow: 2px 2px 5px #c1c1c1;
    border-radius: 10px 0 0 10px;
    position: fixed;
    right: 0;
    top: 100px;
    cursor: pointer;
    display: none;
}

.flex {
    display: block;
}

.product_detail_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.product_detail_close {
    background: #c1c1c1;
    padding: 10px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: 1s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 5px #959595;
    }
}